<IfModule mod_rewrite.c>	
	# Enrutamiento mediante htacces de apache		
    RewriteEngine On			
	
	RewriteRule ^backend$ core/entrada.php/backend/backend/inicio$1 [L]	
	
	RewriteRule ^sistema/usuarios/(.*)$ core/entrada.php/sistema/usuarios2/$1 [L]	
	RewriteRule ^login$ core/entrada.php/sistema/usuarios2/login$1 [L]
	RewriteRule ^login/$ core/entrada.php/sistema/usuarios2/login$1 [L]		
	
	RewriteRule ^$ core/entrada.php/sistema/paginas/inicio$1 [L]
	RewriteRule ^/$ core/entrada.php/sistema/paginas/index$1 [L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ core/entrada.php/$1 [L]
	ErrorDocument 500 error500.html
</IfModule>