.icoTab_Diario{
	background-image:url(http://png.findicons.com/files/icons/1681/siena/16/currency_dollar_green.png);
}
.icoTab_Envio{
	background-image:url(http://png.findicons.com/files/icons/1588/farm_fresh_web/16/box.png);
}

.icoTab_Trailer{
	background-image:url(http://png.findicons.com/files/icons/598/transport/16/lorrygreen.png);
}

.icoTab_chofer{
	background-image:url(http://png.findicons.com/files/icons/1572/minicons/16/user.png);
}

.icoTab_chofer{
	background-image:url(http://png.findicons.com/files/icons/1572/minicons/16/user.png);
}


